.venv
logs/*
uploads/*
.idea
*.xml
*.iml
.vscode
.vs
*/DS_Store
*/Thumbs.db
*/.DS_Store
*/.Thumbs.db
*/.gitkeep
*/.env
*/.env.example
*/.env.local
*/.env.development
*/.env.development.local
*/.env.test
*/.env.test.local
*/.env.production
*/.env.production.local
*/.env.secrets
*/.env.secrets.local
